<!DOCTYPE html>
<html>
	<head>
		<title>Index of <%=url%></title>
		<link rel="stylesheet" href="/normalize.css?raw=1">
		<link rel="stylesheet" href="<%=url%>?raw=1">
		<style type="text/css">
			.c2g { background: #d7d7d7; }
			.c2g-em { color: #fff; display: inline; font-size: 24px; font-weight: 400; }
			.c2g-header { background: #333; color: #999; display: block; font: normal 100 21px "Helvetica Neue", Helvetica, sans-serif; margin: 0; padding: 20px; text-shadow: 0 1px 5px #000; text-transform: capitalize; }
			.c2g-label { bottom: 10px; color: #999; font-size: 12px; position: absolute; right: 10px; }
			.c2g-rule { background: #ededed; -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.35); margin: 10px; padding: 20px; position: relative; zoom: 1; }
			.c2g-rule:before, 
			.c2g-rule:after { content: ""; display: table; }
			.c2g-rule:after { clear: both; }
		</style>
	</head>
	<body class="c2g">
		<div class="c2g-header"><div class="c2g-em"><%=style%></div> Guideline</div>		
		<%=html%>
	</body>
</html>
