/* normalize.css 2011-08-03T09:41 UTC · http://github.com/necolas/normalize.css */
/* =============================================================================
   HTML5 display definitions
   ========================================================================== */
/*
 * Corrects block display not defined in IE6/7/8/9 & FF3
 */
/* line 20, ../../css-src/common/_normalize.scss */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section {
  display: block;
}

/*
 * Corrects inline-block display not defined in IE6/7/8/9 & FF3
 */
/* line 30, ../../css-src/common/_normalize.scss */
audio,
canvas,
video {
  display: inline-block;
  *display: inline;
  *zoom: 1;
}

/*
 * Prevents modern browsers from displaying 'audio' without controls
 */
/* line 40, ../../css-src/common/_normalize.scss */
audio:not([controls]) {
  display: none;
}

/*
 * Addresses styling for 'hidden' attribute not present in IE6/7/8/9, FF3, S4
 */
/* line 48, ../../css-src/common/_normalize.scss */
[hidden] {
  display: none;
}

/* =============================================================================
   Base
   ========================================================================== */
/*
 * 1. Corrects text resizing oddly in IE6/7 when body font-size is set using em units
 *    http://clagnut.com/blog/348/#c790
 * 2. Keeps page centred in all browsers regardless of content height
 * 3. Prevents iOS text size adjust after orientation change, without disabling user zoom
 *    www.456bereastreet.com/archive/201012/controlling_text_size_in_safari_for_ios_without_disabling_user_zoom/
 */
/* line 65, ../../css-src/common/_normalize.scss */
html {
  font-size: 100%;
  /* 1 */
  overflow-y: scroll;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 3 */
  -ms-text-size-adjust: 100%;
  /* 3 */
}

/*
 * Addresses margins handled incorrectly in IE6/7
 */
/* line 76, ../../css-src/common/_normalize.scss */
body {
  margin: 0;
}

/* 
 * Addresses font-family inconsistency between 'textarea' and other form elements.
 */
/* line 88, ../../css-src/common/_normalize.scss */
body,
button,
input,
select,
textarea {
  font-family: sans-serif;
}

/* =============================================================================
   Links
   ========================================================================== */
/* line 97, ../../css-src/common/_normalize.scss */
a {
  color: #00e;
}

/* line 101, ../../css-src/common/_normalize.scss */
a:visited {
  color: #551a8b;
}

/*
 * Addresses outline displayed oddly in Chrome
 */
/* line 109, ../../css-src/common/_normalize.scss */
a:focus {
  outline: thin dotted;
}

/*
 * Improves readability when focused and also mouse hovered in all browsers
 * people.opera.com/patrickl/experiments/keyboard/test
 */
/* line 119, ../../css-src/common/_normalize.scss */
a:hover,
a:active {
  outline: 0;
}

/* =============================================================================
   Typography
   ========================================================================== */
/*
 * Addresses styling not present in IE7/8/9, S5, Chrome
 */
/* line 132, ../../css-src/common/_normalize.scss */
abbr[title] {
  border-bottom: 1px dotted;
}

/*
 * Addresses style set to 'bolder' in FF3/4, S4/5, Chrome
*/
/* line 141, ../../css-src/common/_normalize.scss */
b,
strong {
  font-weight: bold;
}

/* line 145, ../../css-src/common/_normalize.scss */
blockquote {
  margin: 1em 40px;
}

/*
 * Addresses styling not present in S5, Chrome
 */
/* line 153, ../../css-src/common/_normalize.scss */
dfn {
  font-style: italic;
}

/*
 * Addresses styling not present in IE6/7/8/9
 */
/* line 161, ../../css-src/common/_normalize.scss */
mark {
  background: #ff0;
  color: #000;
}

/*
 * Corrects font family set oddly in IE6, S5, Chrome
 * en.wikipedia.org/wiki/User:Davidgothberg/Test59
 */
/* line 174, ../../css-src/common/_normalize.scss */
pre,
code,
kbd,
samp {
  font-family: monospace, monospace;
  _font-family: 'courier new', monospace;
  font-size: 1em;
}

/*
 * Improves readability of pre-formatted text in all browsers
 */
/* line 184, ../../css-src/common/_normalize.scss */
pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word;
}

/*
 * 1. Addresses CSS quotes not supported in IE6/7
 * 2. Addresses quote property not supported in S4
 */
/* 1 */
/* line 197, ../../css-src/common/_normalize.scss */
q {
  quotes: none;
}

/* 2 */
/* line 204, ../../css-src/common/_normalize.scss */
q:before,
q:after {
  content: '';
  content: none;
}

/* line 209, ../../css-src/common/_normalize.scss */
small {
  font-size: 75%;
}

/*
 * Prevents sub and sup affecting line-height in all browsers
 * gist.github.com/413930
 */
/* line 219, ../../css-src/common/_normalize.scss */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

/* line 226, ../../css-src/common/_normalize.scss */
sup {
  top: -0.5em;
}

/* line 230, ../../css-src/common/_normalize.scss */
sub {
  bottom: -0.25em;
}

/* =============================================================================
   Lists
   ========================================================================== */
/* line 240, ../../css-src/common/_normalize.scss */
ul,
ol {
  margin: 1em 0;
  padding: 0 0 0 40px;
}

/* line 245, ../../css-src/common/_normalize.scss */
dd {
  margin: 0 0 0 40px;
}

/* line 250, ../../css-src/common/_normalize.scss */
nav ul,
nav ol {
  list-style: none;
  list-style-image: none;
}

/* =============================================================================
   Embedded content
   ========================================================================== */
/*
 * 1. Removes border when inside 'a' element in IE6/7/8/9
 * 2. Improves image quality when scaled in IE7
 *    code.flickr.com/blog/2008/11/12/on-ui-quality-the-little-things-client-side-image-resizing/
 */
/* line 266, ../../css-src/common/_normalize.scss */
img {
  border: 0;
  /* 1 */
  -ms-interpolation-mode: bicubic;
  /* 2 */
}

/*
 * Corrects overflow displayed oddly in IE9 
 */
/* line 275, ../../css-src/common/_normalize.scss */
svg:not(:root) {
  overflow: hidden;
}

/* =============================================================================
   Figures
   ========================================================================== */
/*
 * Addresses margin not present in IE6/7/8/9, S5, O11
 */
/* line 288, ../../css-src/common/_normalize.scss */
figure {
  margin: 0;
}

/* =============================================================================
   Forms
   ========================================================================== */
/*
 * Corrects margin displayed oddly in IE6/7
 */
/* line 301, ../../css-src/common/_normalize.scss */
form {
  margin: 0;
}

/*
 * Define consistent margin and padding
 */
/* line 309, ../../css-src/common/_normalize.scss */
fieldset {
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

/*
 * 1. Corrects color not being inherited in IE6/7/8/9
 * 2. Corrects alignment displayed oddly in IE6/7
 */
/* line 319, ../../css-src/common/_normalize.scss */
legend {
  border: 0;
  /* 1 */
  *margin-left: -7px;
  /* 2 */
}

/*
 * 1. Corrects font size not being inherited in all browsers
 * 2. Addresses margins set differently in IE6/7, F3/4, S5, Chrome
 * 3. Improves appearance and consistency in all browsers
 */
/* line 333, ../../css-src/common/_normalize.scss */
button,
input,
select,
textarea {
  font-size: 100%;
  /* 1 */
  margin: 0;
  /* 2 */
  vertical-align: baseline;
  /* 3 */
  *vertical-align: middle;
  /* 3 */
}

/*
 * 1. Addresses FF3/4 setting line-height using !important in the UA stylesheet
 * 2. Corrects inner spacing displayed oddly in IE6/7
 */
/* line 346, ../../css-src/common/_normalize.scss */
button,
input {
  line-height: normal;
  /* 1 */
  *overflow: visible;
  /* 2 */
}

/*
 * Corrects overlap and whitespace issue for buttons and inputs in IE6/7
 * Known issue: reintroduces inner spacing
 */
/* line 357, ../../css-src/common/_normalize.scss */
table button,
table input {
  *overflow: auto;
}

/*
 * 1. Improves usability and consistency of cursor style between image-type 'input' and others
 * 2. Corrects inability to style clickable 'input' types in iOS
 */
/* line 369, ../../css-src/common/_normalize.scss */
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  cursor: pointer;
  /* 1 */
  -webkit-appearance: button;
  /* 2 */
}

/*
 * Addresses box sizing set to content-box in IE8/9
 */
/* line 379, ../../css-src/common/_normalize.scss */
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
}

/*
 * 1. Addresses appearance set to searchfield in S5, Chrome
 * 2. Addresses box sizing set to border-box in S5, Chrome (include -moz to future-proof)
 */
/* line 388, ../../css-src/common/_normalize.scss */
input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  /* 2 */
  box-sizing: content-box;
}

/*
 * Corrects inner padding displayed oddly in S5, Chrome on OSX
 */
/* line 399, ../../css-src/common/_normalize.scss */
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/*
 * Corrects inner padding and border displayed oddly in FF3/4
 * www.sitepen.com/blog/2008/05/14/the-devils-in-the-details-fixing-dojos-toolbar-buttons/
 */
/* line 409, ../../css-src/common/_normalize.scss */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/*
 * 1. Removes default vertical scrollbar in IE6/7/8/9
 * 2. Improves readability and alignment in all browsers
 */
/* line 419, ../../css-src/common/_normalize.scss */
textarea {
  overflow: auto;
  /* 1 */
  vertical-align: top;
  /* 2 */
}

/* =============================================================================
   Tables
   ========================================================================== */
/* 
 * Remove most spacing between table cells
 */
/* line 433, ../../css-src/common/_normalize.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 1, ../../css-src/common/_grids.scss */
.line:before, .line:after {
  content: "";
  display: table;
}

/* line 2, ../../css-src/common/_grids.scss */
.line:after {
  clear: both;
}

/* line 3, ../../css-src/common/_grids.scss */
.line {
  *zoom: 1;
}

/* line 4, ../../css-src/common/_grids.scss */
.unit {
  float: left;
}

/* line 5, ../../css-src/common/_grids.scss */
.unitRight {
  float: right;
}

/* line 6, ../../css-src/common/_grids.scss */
.size1of1 {
  float: none;
}

/* line 7, ../../css-src/common/_grids.scss */
.size1of2 {
  width: 50%;
}

/* line 8, ../../css-src/common/_grids.scss */
.size1of3 {
  width: 33.33333%;
}

/* line 9, ../../css-src/common/_grids.scss */
.size2of3 {
  width: 66.66666%;
}

/* line 10, ../../css-src/common/_grids.scss */
.size1of4 {
  width: 25%;
}

/* line 11, ../../css-src/common/_grids.scss */
.size3of4 {
  width: 75%;
}

/* line 12, ../../css-src/common/_grids.scss */
.size1of5 {
  width: 20%;
}

/* line 13, ../../css-src/common/_grids.scss */
.size2of5 {
  width: 40%;
}

/* line 14, ../../css-src/common/_grids.scss */
.size3of5 {
  width: 60%;
}

/* line 15, ../../css-src/common/_grids.scss */
.size4of5 {
  width: 80%;
}

/* line 16, ../../css-src/common/_grids.scss */
.lastUnit {
  float: none;
  display: block;
  display: table-cell;
  width: 9999em;
  *width: auto;
  *zoom: 1;
  _position: relative;
  _left: -3px;
  _margin-right: -3px;
}

/*
Copyright (c) 2009, Nicole Sullivan. All rights reserved.
Code licensed under the BSD License:
version: 0.2
*/
/* **************** BLOCK STRUCTURES ***************** */
/* mod */
/* line 8, ../../css-src/common/_mod.scss */
.mod {
  margin: 10px;
}

/* line 9, ../../css-src/common/_mod.scss */
.mod .inner {
  /*background: url(skin/transparent.png) repeat left top;*/
}

/* line 10, ../../css-src/common/_mod.scss */
.bd, .ft, .hd {
  display: inline-block;
  width: 100%;
  *display: block;
  *width: auto;
  zoom: 1;
}

/* line 11, ../../css-src/common/_mod.scss */
.inner:after, .hd:after, .bd:after, .ft:after {
  clear: both;
  display: block;
  visibility: hidden;
  overflow: hidden;
  height: 0 !important;
  line-height: 0;
  font-size: xx-large;
  content: " x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x ";
}

/* line 12, ../../css-src/common/_mod.scss */
.inner {
  position: relative;
}

/* line 13, ../../css-src/common/_mod.scss */
b.top, b.top b, b.bottom, b.bottom b {
  display: block;
  background-repeat: no-repeat;
  font-size: 1%;
  position: relative;
  z-index: 10;
}

/* line 14, ../../css-src/common/_mod.scss */
.tl, .tr, .bl, .br {
  height: 10px;
  width: 10px;
  float: left;
}

/* line 15, ../../css-src/common/_mod.scss */
.tl {
  background-position: left top;
}

/* line 16, ../../css-src/common/_mod.scss */
.tr {
  background-position: right top;
}

/* line 17, ../../css-src/common/_mod.scss */
.bl {
  background-position: left bottom;
}

/* line 18, ../../css-src/common/_mod.scss */
.br {
  background-position: right bottom;
}

/* line 19, ../../css-src/common/_mod.scss */
.br, .tr {
  float: right;
}

/* line 20, ../../css-src/common/_mod.scss */
.tr, .tl {
  overflow: hidden;
  margin-bottom: -32000px;
}

/* margin bottom needs to be < -9px */
/* line 21, ../../css-src/common/_mod.scss */
.bl, .br {
  margin-top: -10px;
}

/* line 22, ../../css-src/common/_mod.scss */
.top {
  background-position: center top;
}

/* line 23, ../../css-src/common/_mod.scss */
.bottom {
  background-position: center bottom;
  _zoom: 1;
}

/* this zoom required for IE5.5 only*/
/* complex */
/* line 25, ../../css-src/common/_mod.scss */
.complex {
  overflow: hidden;
  *position: relative;
  *zoom: 1;
}

/* position/zoom required for IE7, 6, 5.5 */
/* line 26, ../../css-src/common/_mod.scss */
.complex .tl, .complex .tr {
  height: 32000px;
  margin-bottom: -32000px;
  width: 10px;
}

/* line 27, ../../css-src/common/_mod.scss */
.complex .bl, .complex .br {
  /*margin-top:0;*/
}

/* line 28, ../../css-src/common/_mod.scss */
.complex .top {
  height: 5px;
}

/* line 29, ../../css-src/common/_mod.scss */
.complex .bottom {
  height: 5px;
  /*margin-top:-10px;*/
}

/* pop */
/* line 31, ../../css-src/common/_mod.scss */
.pop {
  overflow: visible;
  margin: 10px 20px 20px 10px;
  background-position: left top;
}

/* line 32, ../../css-src/common/_mod.scss */
.pop .inner {
  right: -10px;
  bottom: -10px;
  background-position: right bottom;
  padding: 0 10px 10px 0;
}

/* line 33, ../../css-src/common/_mod.scss */
.pop .tl, .pop .br {
  display: none;
}

/* line 34, ../../css-src/common/_mod.scss */
.pop .bl {
  bottom: -10px;
}

/* line 35, ../../css-src/common/_mod.scss */
.pop .tr {
  float: right;
  margin-right: -10px;
  _display: inline;
  /*fix double margin bug*/
}

/* **************** TEMPLATE ***************** */
/* ====== Page Head, Body, and Foot ====== */
/* line 3, ../../css-src/common/_template.scss */
body {
  _text-align: center;
}

/* IE5.5 */
/* line 4, ../../css-src/common/_template.scss */
.main {
  display: table-cell;
  *display: block;
  width: auto;
}

/* line 5, ../../css-src/common/_template.scss */
.body, .main {
  *zoom: 1;
}

/* line 6, ../../css-src/common/_template.scss */
.body:after, .main:after {
  clear: both;
  display: block;
  visibility: hidden;
  overflow: hidden;
  height: 0 !important;
  line-height: 0;
  font-size: xx-large;
  content: " x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x ";
}

/* line 7, ../../css-src/common/_template.scss */
.page {
  margin: 0 auto;
  width: 950px;
  _text-align: left;
}

/* wraps other template elems to set width */
/* text-align IE5.5 */
/* "old school" and "liquid" extend page to allow for different page widths */
/* line 9, ../../css-src/common/_template.scss */
.oldSchool {
  width: 750px;
}

/* line 10, ../../css-src/common/_template.scss */
.gs960 {
  width: 960px;
}

/* line 11, ../../css-src/common/_template.scss */
.liquid {
  width: auto;
  margin: 0;
}

/* ====== Columns ====== */
/* line 13, ../../css-src/common/_template.scss */
.leftCol {
  float: left;
  width: 250px;
  _margin-right: -3px;
}

/* line 14, ../../css-src/common/_template.scss */
.rightCol {
  float: right;
  width: 300px;
  _margin-left: -3px;
}

/* extend columns to allow for common column widths */
/* line 16, ../../css-src/common/_template.scss */
.gMail {
  width: 160px;
}

/* line 17, ../../css-src/common/_template.scss */
.gCal {
  width: 180px;
}

/* line 18, ../../css-src/common/_template.scss */
.yahoo {
  width: 240px;
}

/* line 19, ../../css-src/common/_template.scss */
.myYahoo {
  width: 300px;
}

/* line 10, ../../css-src/common/defaults.scss */
.ir {
  display: block;
  border: 0;
  text-indent: -999em;
  overflow: hidden;
  background-color: transparent;
  background-repeat: no-repeat;
  text-align: left;
  direction: ltr;
}

/* line 11, ../../css-src/common/defaults.scss */
.ir br {
  display: none;
}

/* line 14, ../../css-src/common/defaults.scss */
.clearfix:before, .clearfix:after {
  content: "";
  display: table;
}

/* line 15, ../../css-src/common/defaults.scss */
.clearfix:after {
  clear: both;
}

/* line 16, ../../css-src/common/defaults.scss */
.clearfix {
  zoom: 1;
}
