// http://github.com/necolas/normalize.css
@import "normalize";

// OOCSS grids, module and template
@import "grids";
@import "mod";
@import "template";

// For image replacement
.ir { display: block; border: 0; text-indent: -999em; overflow: hidden; background-color: transparent; background-repeat: no-repeat; text-align: left; direction: ltr; }
.ir br { display: none; }

// Contain floats: h5bp.com/q
.clearfix:before, .clearfix:after { content: ""; display: table; }
.clearfix:after { clear: both; }
.clearfix { zoom: 1; }
