/* line 3, ../../../css-src/common/elements/heading.scss */
h1 {
  font-size: 242.86%;
}

/* line 7, ../../../css-src/common/elements/heading.scss */
h2 {
  font-size: 185.71%;
}

/* line 11, ../../../css-src/common/elements/heading.scss */
h3 {
  font-size: 128.57%;
}

/* line 15, ../../../css-src/common/elements/heading.scss */
h4 {
  font-size: 100%;
}
