/* line 2, ../../../css-src/common/elements/hyperlink.scss */
a.extra-large {
  font-size: 128.57%;
}
/* line 5, ../../../css-src/common/elements/hyperlink.scss */
a.large {
  font-size: 114.29%;
}
/* line 8, ../../../css-src/common/elements/hyperlink.scss */
a {
  color: #00e;
  cursor: pointer;
  font-size: 100%;
}
/* line 11, ../../../css-src/common/elements/hyperlink.scss */
a.small {
  font-size: 85.71%;
}
/* line 14, ../../../css-src/common/elements/hyperlink.scss */
a.extra-small {
  font-size: 78.57%;
}
/* line 17, ../../../css-src/common/elements/hyperlink.scss */
a:active {
  outline: 0;
}
/* line 20, ../../../css-src/common/elements/hyperlink.scss */
a:focus {
  outline: thin dotted;
}
/* line 23, ../../../css-src/common/elements/hyperlink.scss */
a:hover {
  outline: 0;
  text-decoration: underline;
}
/* line 26, ../../../css-src/common/elements/hyperlink.scss */
a:visited {
  color: #551a8b;
}
