/* line 2, ../../../css-src/common/elements/list.scss */
dl dd {
  margin: 0 0 0 40px;
}
/* line 5, ../../../css-src/common/elements/list.scss */
dl dt {
  display: block;
}

/* line 10, ../../../css-src/common/elements/list.scss */
nav {
  display: block;
}
/* line 14, ../../../css-src/common/elements/list.scss */
nav ol,
nav ul {
  list-style: none;
  list-style-image: none;
}

/* line 19, ../../../css-src/common/elements/list.scss */
ol {
  margin: 1em 0;
  padding: 0 0 0 40px;
}

/* line 26, ../../../css-src/common/elements/list.scss */
ul {
  margin: 1em 0;
  padding: 0 0 0 40px;
}

/* line 39, ../../../css-src/common/elements/list.scss */
.list-bar > li, .list-bar-delimited > li {
  float: left;
  list-style: none;
}

/* line 47, ../../../css-src/common/elements/list.scss */
.list-bar-delimited > li:before {
  content: "|";
}
/* line 50, ../../../css-src/common/elements/list.scss */
.list-bar-delimited > li:first-child:before {
  content: "";
}
