/* line 3, ../../../css-src/common/elements/progress.scss */
progress {
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -o-border-radius: 5px;
  -ms-border-radius: 5px;
  -khtml-border-radius: 5px;
  border-radius: 5px;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #808080), color-stop(100%, #c0c0c0));
  background-image: -webkit-linear-gradient(#808080, #c0c0c0);
  background-image: -moz-linear-gradient(#808080, #c0c0c0);
  background-image: -o-linear-gradient(#808080, #c0c0c0);
  background-image: linear-gradient(#808080, #c0c0c0);
  height: 10px;
  position: relative;
  text-indent: -100%;
}
/* line 9, ../../../css-src/common/elements/progress.scss */
progress.dual > .inner {
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -o-border-radius: 5px;
  -ms-border-radius: 5px;
  -khtml-border-radius: 5px;
  border-radius: 5px;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #808080), color-stop(100%, #000000));
  background-image: -webkit-linear-gradient(#808080, #000000);
  background-image: -moz-linear-gradient(#808080, #000000);
  background-image: -o-linear-gradient(#808080, #000000);
  background-image: linear-gradient(#808080, #000000);
  left: 0;
  height: 10px;
  position: absolute;
  text-indent: -100%;
  top: 0;
  width: 50%;
}
