/* line 1, ../../../css-src/common/elements/table.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* line 10, ../../../css-src/common/elements/table.scss */
table td {
  background: #fff;
  border: 1px #999 solid;
  color: #666;
  padding: 10px;
}
/* line 13, ../../../css-src/common/elements/table.scss */
table td:hover {
  background: #dfedfa;
}
/* line 19, ../../../css-src/common/elements/table.scss */
table tfoot td {
  background: #999;
  border: 0;
  color: #fff;
}
/* line 22, ../../../css-src/common/elements/table.scss */
table tfoot td:hover {
  background: #999;
}
/* line 28, ../../../css-src/common/elements/table.scss */
table th {
  background: #666;
  color: #fff;
  padding: 10px;
  text-align: left;
}
