/* line 1, ../../../css-src/common/elements/text.scss */
abbr[title] {
  border-bottom: 1px dotted;
}

/* line 5, ../../../css-src/common/elements/text.scss */
blockquote {
  margin: 1em 40px;
}

/* line 12, ../../../css-src/common/elements/text.scss */
del {
  text-decoration: line-through;
}

/* line 16, ../../../css-src/common/elements/text.scss */
dfn {
  font-style: italic;
}

/* line 20, ../../../css-src/common/elements/text.scss */
em {
  font-style: italic;
}

/* line 24, ../../../css-src/common/elements/text.scss */
ins {
  text-decoration: underline;
}

/* line 28, ../../../css-src/common/elements/text.scss */
mark {
  background: #ff0;
  color: #000;
}

/* line 32, ../../../css-src/common/elements/text.scss */
p {
  display: block;
}

/* line 36, ../../../css-src/common/elements/text.scss */
pre {
  font-family: monospace, monospace;
  _font-family: 'courier new', monospace;
  font-size: 1em;
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word;
}

/* line 40, ../../../css-src/common/elements/text.scss */
q {
  quotes: none;
}
/* line 43, ../../../css-src/common/elements/text.scss */
q:before, q:after {
  content: '';
  content: none;
}

/* line 48, ../../../css-src/common/elements/text.scss */
small {
  font-size: 75%;
}

/* line 52, ../../../css-src/common/elements/text.scss */
strong {
  font-weight: bold;
}

/* line 56, ../../../css-src/common/elements/text.scss */
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  top: -0.5em;
  vertical-align: baseline;
}

/* line 59, ../../../css-src/common/elements/text.scss */
sub {
  bottom: -0.25em;
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
