a {
	&.extra-large {
		font-size: 128.57%;
	}
	&.large {
		font-size: 114.29%;
	}
	& {
		color: #00e; cursor: pointer; font-size: 100%;
	}
	&.small {
		font-size: 85.71%;
	}
	&.extra-small {
		font-size: 78.57%;
	}
	&:active {
		outline: 0;
	}
	&:focus {
	    outline: thin dotted;
	}
	&:hover {
		outline: 0; text-decoration: underline;
	}
	&:visited {
		color: #551a8b;
	}
}