dl {
	dd {
	    margin: 0 0 0 40px;
	}
	dt {
		display: block;
	}
}

nav {
    display: block;

	ol,
	ul {
	    list-style: none; list-style-image: none;
	}
}

ol {
    margin: 1em 0; padding: 0 0 0 40px;

	li {
	}
}

ul {
    margin: 1em 0; padding: 0 0 0 40px;

	li {
	}
}

.list {
}

.list-bar {
	@extend .list;
	
	> li {
		float: left; list-style: none;
	}
}

.list-bar-delimited {
	@extend .list-bar;
	
	> li:before {
		content: "|";
	}
	> li:first-child:before {
		content: "";
	}
}