@import "../prefix";

progress {
	@include border-radius(5px);
	@include background-image(linear-gradient(#808080, #c0c0c0));	
	height: 10px; position: relative; text-indent: -100%; 
	
	&.dual {
		> .inner {
			@include border-radius(5px);
			@include background-image(linear-gradient(#808080, #000));	
			left: 0; height: 10px; position: absolute; text-indent: -100%; top: 0; width: 50%;
		}	
	}
	
	&.notched {
	}
	
	&.segmented {		
	}
}